<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    {% include 'bs4.html' %}
</head>
<body>
    <h1 class="text-center">Editar Movimento NF: {{ estoque.numero_nf }}</h1>
    <div class="my-3">
        <form action="/edit/{{ clientes.id_cliente }}" class="container" method="post">
            <div class="form-group">
                <label for="iNome">Nome: </label>
                <input type="text" name="nome" id="iNome" class="form-control" value="{{ estoque.id_produto }}">
            </div>
            <div class="form-group">
                <label for="iData">Data Cadastro: </label>
                <input type="date" name="datacad" id="iData" class="form-control" value="{{ cliens.data_cadastro }}">
            </div>
            <div class="form-group">
                <label for="iEmail">Email: </label>
                <input type="email" name="email" id="iEmail" class="form-control" value="{{ clientes.email_cliente }}">
            </div>
            <div class="form-group">
                <label for="iTelefone">Telefone: </label>
                <input type="text" name="telefone" id="iTelefone" class="form-control" value="{{ clientes.telefone_cliente }}">
            </div>
            <input type="submit" class="btn btn-block btn-primary" value="Enviar">
            <button class="btn btn-block btn-success">
                <a href="{{ url_for('index') }}" style="color: white;">Voltar</a>
            </button>
        </form>
    </div>
</body>
</html>